*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial , sans-serif;
}
html, body{
    background-color: #F1F1F2;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.erro-container{
    width: 100%;
    background-color: #FFF5F8;
    border: 1px solid #F1416C;
    padding: 8px;
    margin-bottom: 32px;
}
h2{
    color: #F1416C;
    font-size: 12px;
}
.form{
    width: 100%;
    max-width: 320px;
}

.label-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 32px;
}
label{
    font-size: 12px;
    margin-bottom: 4px;
}
input {
    height: 36px;
    border-bottom: 2px solid #b7b7b7;
    width: 100%;
    font-size: 16px;
    padding: 8px;
    color: #7E8299;
}

button{
    background-color: #50CD89;
    color: white;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    transition: 0.25s ease all;
    -webkit-transition: 0.25s ease all;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
button:hover{
    opacity: 0.8;
}

.dataList{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    background: #fff;
    min-width: 320px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}
.dataList > div{
    width: 100%;
}
.dataList .name{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.info-label{
    font-size: 16px;
    color: #F1416C;
    font-weight: 700;
    margin-right: 4px;
}
.info-data{
    font-style: italic;
    color: #7E8299;
    font-size: 16px;
}

button.new{
    max-width: 320px;
    margin-top: 32px;
}
.form-container{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    min-width: 320px;
}
button.register{
    background-color: transparent;
    color: #3c3c3c;
    text-decoration: underline;
    font-size: 8px;
    font-style: italic;
    position: absolute;
    bottom: -42px;
    right: -12px;
    width: auto;
}